<%- include('../partials/header') %>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">Yelp Camp</p>
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="card" style="width: 100%;">
				<img class="card-img-top" src="<%= campground.image%>" >
				<!-- style="width: 820px; height: 520px" -->
				<div class="caption-full p-4">
					<h5 class="text-right">&#8377;<%= campground.price %></h5>
					<h4><a href=""><%= campground.name %></a></h4>
					<p class="lead"><%= campground.description %></p>
					<!-- <p class="font-italic text-monospace"> Submitted By<%= campground.author.username%></p> -->
					<blockquote class="blockquote">
						<footer class="blockquote-footer font-weight-bolder" style="font-size: 1.2rem">
							Submitted By <cite title="Source Title"><%= campground.author.username%></cite>
						</footer>
					</blockquote>
					<% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
					<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="list-inline">
						<a href="/campgrounds/<%= campground._id %>/edit" type="button" class="btn btn-outline-warning px-5 rounded-lg list-inline-item">Edit</a>
						<button class="btn btn-danger px-5 rounded-lg list-inline-item">Delete</button>
					</form>
					<% } %>
				</div>
			</div>
			<br>
			<div class="card bg-light p-4" style="width: 100%;">
				<div class="text-right">
					<a class="btn btn-success mt-3" href="/campgrounds/<%= campground._id %>/comments/new">Add new comment</a>
				</div>
				<hr>
				<% for (let i = 0; i < campground.comments.length ; i++) { %>
					<div class="row">
						<div class="col-md-12">
							<strong><%= campground.comments[i].author.username %></strong>
							<span class="float-right">10 days ago</span>
							<p>
								<%= campground.comments[i].text %>
							</p>
							<% if(currentUser && campground.comments[i].author.id.equals(currentUser._id)) { %>
								<form action='/campgrounds/<%= campground._id %>/comments/<%= campground.comments[i]._id%>?_method=DELETE' method='POST'>
									<a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= campground.comments[i]._id%>/edit">Edit</a>
									<button type="submit" class="btn btn-sm btn-danger">Delete</button>
								</form>
							<% } %>
						</div>
					</div>
				<% } %>
			</div>
		</div> 
	</div>
</div>

<%- include('../partials/footer') %>